# use this for standard usage

version: '3'

services:
  bot:
    build: .
    restart: unless-stopped
    environment:
      - DATABASE_URI:mongodb://db/countr
      - API_URI:http://manager:$API_PORT
      - WEBSOCKET_INTERNAL_URI=ws://manager
    volumes:
      - ./logs/countr:/app/logs
    depends_on:
      - db
      - manager
  manager:
    build: .
    restart: always
    command: ["npm", "run", "start:manager"]
    environment:
      - DATABASE_URI:mongodb://db/countr
      - WEBSOCKET_INTERNAL_PORT=80
    volumes:
      - ./logs/manager:/app/logs
    ports:
      - $API_PORT:$API_PORT
    depends_on:
      - db
  db:
    image: mongo:4
    restart: always
    volumes:
      - ./database:/data/db