# use this for standard usage

version: '3'

services:
  bot:
    build: .
    restart: unless-stopped
    environment:
      - DATABASE_URI=mongodb://db/countr
      - WEBSOCKET_INTERNAL_URI=ws://manager
    volumes:
      - ./logs/countr:/app/logs
    depends_on:
      - db
      - manager
  manager:
    build: .
    restart: always
    command: ["npm", "run", "start:manager"]
    environment:
      - DATABASE_URI=mongodb://db/countr
      - WEBSOCKET_INTERNAL_PORT=80
    volumes:
      - ./logs/manager:/app/logs
    ports:
      - $API_PORT:$API_PORT
    depends_on:
      - db
  db:
    image: mongo:4@sha256:d4ebbad110d79adc73e86ff6555e39d3f8ad6c9c0403139543e4cd66641f01cb
    restart: always
    volumes:
      - ./database:/data/db
