name: Testing
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  jest:
    name: Jest
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3

    - name: Set up node
      uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # tag=v3
      with:
        node-version: "18.x"

    - name: Set up module cache
      uses: actions/cache@1c73980b09e7aea7201f325a7aa3ad00beddcdda # tag=v3
      id: cache-packages
      with:
        path: node_modules
        key: ${{ hashFiles('**/package-lock.json') }}

    - name: Install dependencies
      run: npm ci
      if: steps.cache-packages.outputs.cache-hit != 'true'

    - name: Run Jest
      run: npm test