name: Testing
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  jest:
    name: Jest
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@7dd9e2a3dc350cf687eb1b2a4fadfee8c8e49675 # v3

    - name: Set up node
      uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # tag=v3
      with:
        node-version: "18.x"

    - name: Set up module cache
      uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7 # v3
      id: cache-packages
      with:
        path: node_modules
        key: ${{ hashFiles('**/package-lock.json') }}

    - name: Install dependencies
      run: npm ci
      if: steps.cache-packages.outputs.cache-hit != 'true'

    - name: Run Jest
      run: npm test